@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(image/image2.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-end;
    
    
}
.banner h2 
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span 
{
    text-align: center;
    font-size: 1.5em;
    color: rgb(23, 129, 19);
    font-weight: 700;
    line-height: 1.5em;
}
.banner h3
{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.btn
{
    position: relative;
    background: #21f344;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding:  10px 30px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 53px;
    
}
.btn:hover
{
    background: #fff;
    color:#f3bb21;
}
header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky
{
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px  20px rgba(0,0,0,0.1);
}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo
{
    color: #111;
}
header ul
{
    position: relative;
    display: flex; /* in line all content for above property */

}
header ul li
{
    position: relative;
    list-style: none;
}
header ul li a
{
    position: relative;
    display: inline-block;
    margin: 0 15px;  /* spacing between list list by margin */
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a
{
    color: #111;
}
.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2
{
    font-weight: 600;
    font-size: 30px;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contentbx
{
    padding-right: 30px;
}
.contentbx h3
{
    font-size: 24px;
    margin-bottom: 10px;
}
.w50
{
    min-width: 50%;
}
img
{
    max-width: 100%;
}
.services
{
    background: #111;
}
.heading.white
{
    color: #fff;
}
.services .content
{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;  /* to all items in vertically */
    flex-direction: row;
}
.services .content .servicesbx
{
    padding: 40px 20px;
    background: #222;
    color: rgb(255, 255, 255);
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: .6s;
}
.services .content .servicesbx:hover{
    background:#128C7E; 
}
.services .content .servicesbx img
{
    max-width: 80px;
    filter: invert(1);  /* change icone color means black to white and white to black */
}
.services .content .servicesbx h2{
    font-size: 20px;
    font-weight: 600;
}
.work
{
    background: #222;
}
.work .heading
{
    color: rgb(255, 255, 255);
}
.work .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workbx
{
    width: 50%;
    padding: 20px;
}
.work .content .workbx img
{
    max-width: 100%;
}
.testinomials
{
    background: #f7f7f7;
}
.testinomials .content
{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.testinomials .content .testinomialbx
{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background:#092836;
}
.testinomials .content .testinomialbx p{
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testinomials .content .testinomialbx h3
{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-size: 20px;
    line-height: 1em;
}
.testinomials .content .testinomialbx h3 span
{
    font-size: 14px;
    font-weight: 400;
}
.contact
{
    background: #111;
}
.formbx
{
    min-width: 60%;
}
.formbx form
{
    display: flex;
    flex-direction: column;
}
.formbx h3,
.contactinfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 20px;
}
.formbx input  ,
.formbx  textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    background: #222;
    color: rgb(255, 255, 255);
    resize: none;   /* to fix the size of textarea */
}
.formbx  textarea
{
    min-height: 200px;
}
/* to give place holder inside input*/
.formbx input::placeholder,
.formbx  textarea::placeholder
{
    color:#999;
}
.formbx  input[type="submit"]
{
    max-width: 100px;
    background:#092836;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.contactinfo
{
    min-width: 40px;
}
.contactinfobx
{
    position: relative;
}
.contactinfobx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactinfobx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
}
.contactinfobx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactinfobx .box .text h3
{
    font-weight: 500;
    color: #2196f3;
}




/* Responsive */

@media(max-width:991px)
{
    header,
    header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
        
    }
    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active
    {
        left: 0; /* to show the list opof menu after activate the menu class */
    }
    header ul li a 
    {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url(menu.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
    }
    .toggle.active
    {
        background: url(close.jpeg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
    }
    header.sticky .toggle
    {
        filter: invert(1);  /* color change hoga black ko white and white ko blackhoga  menu icon me */ 
    }
    section
    {
        padding: 100px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        padding: 10px 20px;
        margin-top: 10px;
        font-size: 16px;
    }
    .heading h2
    {
        font-weight: 600;
        font-size: 24px;
    }
    .contentbx h3 
    {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .content 
    {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .w50 
    {
        margin-bottom: 20px;
    }
    .services .content .servicesbx
    {
        margin: 10px;
    }
    .work .content .workbx {
        width: 100%;
        padding: 10px;
    }
    .testinomials .content .testinomialbx 
    {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background: #092836;
    }
    .testinomials .content .testinomialbx h3
    {
        margin-top: 20px
    }
    .contactinfo
    {
        margin: 20px 0;
    }
}

@media(max-width:600px)
{
    header,
    header.sticky
    {
        padding: 20px 20px;
    }
    .banner 
    {
        padding: 150px 20px 100px;
    }
    section 
    {
        padding: 100px 20px;
    }
    section 
    {
    padding: 20px 50px;
    }
}
.s-icon
{
    position: absolute;
    bottom: 8%;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.s-icon i
{
    color: white;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer; 
    box-shadow: 2px 1px 3px gray;
}
.s-icon i:nth-child(1)
{
    background-color:#21f344; 
}
.s-icon i:nth-child(2)
{
    background-color: #3b5998;
}
.s-icon i:nth-child(3)
{
    background-color: #00acee;
}
.s-icon i:nth-child(4)
{
    background-color: #e84393;
}
.s-icon i:nth-child(5)
{
    background-color: #128C7E;
}
.s-icon i:nth-child(6)
{
    background-color: #192a56;
}
.s-icon i:hover
{
    transform: translateY(-20px);
}

